{% extends 'head.html' %}

{% block header %}
<div class="login_form_div">
  <h1>Log In</h1>
  <form action="/login" method="POST">
    <ul>
      <li class="uname">
        <input type="text" name="uname" placeholder="Username..." />
      </li>
      <li class="pword">
        <input type="password" name="pword" placeholder="Enter a Password..." />
      </li>
      <li class="btn">
        <button type="reset">Reset</button>
        <button type="submit">Log In</button>
      </li>
    </ul>
  </form>
</div>
{% endblock %}
