<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8"/>
    <meta name="description" content="A simple note taking app"/>
    <!-- <title> {{ page_title }} </title> -->
    <link href="../static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <!-- if statement to select which header tag to use -->
      <header class="bg">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li class="current">
              <a href="/signup">Create Account</a>
            </li>
            <li class="login">
              <a href="/login">Log In</a>
            </li>
          </ul>
        </nav>
        <div class="signup_form_div">
          <h1>Create Account</h1>
          <form action="/signup" method="POST">
            <ul>
              <li class="fname">
                <input type="text" name="fname" placeholder="First Name..." />
              </li>
              <li class="lname">
                <input type="text" name="lname" placeholder="Last Name..." />
              </li>
              <li class="email">
                <input type="text" name="email" placeholder="Email..." />
              </li>
              <li class="uname">
                <input type="text" name="uname" placeholder="Username..." />
              </li>
              <li class="pword">
                <input type="password" name="pword" placeholder="Enter a Password..." />
              </li>
              <li class="pword1">
                <input type="password" name="pword1" placeholder="Reenter your Password..." />
              </li>
              <li class="btn">
                <button type="reset">Reset</button>
                <button type="submit">Sign Up</button>
              </li>
            </ul>
          </form>
        </div>
      </header>
      <footer class="mobile">
        <div class="left">
          <!-- <a href="/signup"><button>Sign Up</button></a> -->
        </div>
        <div class="right">
          <p class="copyright">
            &copy; 2018 Program Notes
          </p>
          <p class="email">
            info@programnotes.com
          </p>
          <p>
            Privacy Policy
          </p>
          <p>
            Terms and Conditions
          </p>
        </div>
      </footer>
      <footer class="desktop">
        <div class="f1">
          <p>
            info@programnotes.com
          </p>
        </div>
        <div class="f2">
          <!-- <a href="/signup"><button>Sign Up</button></a> -->
        </div>
        <div class="f3">
          <p>
            &copy; 2018 Program Notes
          </p>
        </div>
        <div class="f4">
          <p>
            Privacy Policy
          </p>
          <p>
            Terms and Conditions
          </p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
