{% extends 'head.html' %}

{% block header %}
<div class="signup_form_div">
  <h1>Create Account</h1>
  <form action="/signup" method="POST">
    {{ form.hidden_tag() }}
    <ul>
      <li class="fname">
        {{ form.firstName(placeholder=form.firstName.description) }}
      </li>
      <li class="lname">
        {{ form.lastName(placeholder=form.lastName.description) }}
      </li>
      <li class="email">
        {{ form.email(placeholder=form.email.description) }}
      </li>
      <li class="uname">
        {{ form.username(placeholder=form.username.description) }}
      </li>
      <li class="pword">
        {{ form.pword(placeholder=form.pword.description) }}
      </li>
      <li class="pword1">
        {{ form.pword1(placeholder=form.pword1.description) }}
      </li>
      <li class="btn">
        <button type="reset">Reset</button>
        <button type="submit">Sign Up</button>
      </li>
    </ul>
  </form>
</div>

{% endblock %}
