@import '_variables.scss';

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
}

div.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;


  header.bg {
    height: 100%;
    width: 100%;
    background: url(../assets/home_img.jpg) 50% 50%;
    top: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  header.no_bg {
    width: auto;
    top: 0;
    margin: 0;
    padding: 0;
  }

  nav {
    width: 100%;
    position: fixed;
    background-color: $transparent_purple;
    z-index: 100;
    transition: all 0.5s ease;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      li {
        flex: 1 1 0;

        a {
          text-decoration: none;
          color: $orange;
          display: block;
          text-align: center;
          font-family: $sans;
          color: $orange;
          padding: 1rem;
          font-size: 1.5rem;
        }

        a:hover {
          color: $yellow;
          background-color: $transparent_blue;
        }
      }

      @media screen and (max-width: 890px) {
        li {
          flex: 1 1 50%;
        }
      }

      @media screen and (max-width: 455px) {
        li {
          a {
            font-size: 1rem;
          }
        }
      }


      li.current {
        a {
          color: $yellow;
          background-color: $transparent_blue;
        }
      }

      li.login {
        a {
          background-color: $purple;
          color: $blue;
        }
        a:hover {
          background-color: $blue;
          color: $orange;
        }
      }
    }
  }

  nav.hidden {
    transform: translate3d(0, -100%, 0);
  }

  footer.desktop {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $light_blue;
    text-align: center;

    div {
      flex-basis: 50%;
    }

    div.f1 {
      order: 1;

      p {
        font-family: $sans;
        color: $orange;
        padding: 1rem;
      }
    }

    div.f2 {
      order: 3;

      a {
        button {
          text-decoration: none;
          color: $blue;
          font-family: $sans;
          font-size: 1rem;
          background-color: $orange;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
          border-radius: 10px;
          border-style: none;
        }

        button:hover {
          background-color: $purple;
          color: $orange;
        }
      }
    }

    div.f3 {
      order: 2;

      p {
        font-family: $sans;
        color: $yellow;
        padding: 1rem;
      }
    }

    div.f4 {
      order: 4;

      p {
        font-family: $sans;
        color: $yellow;
      }
    }
  }

  footer.mobile {
    display: none !important;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $light_blue;
    text-align: center;
    align-items: center;

    div {
      flex: 0 0 50%;
    }

    div.left {
      a {
        button {
          text-decoration: none;
          color: $blue;
          font-family: $sans;
          font-size: 1rem;
          background-color: $orange;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
          border-radius: 10px;
          border-style: none;
        }

        button:hover {
          background-color: $purple;
          color: $orange;
        }
      }
    }

    div.right {

      p {
        font-family: $sans;
        padding-bottom: 0.5rem;
        color: $bluePurple;
      }

      p.copyright {
        color: $yellow;
      }

      p.email {
        color: $orange;
      }
    }
  }
  @media screen and (max-width: 600px) {
    footer.desktop {
      display: none;
    }
    footer.mobile {
      display: flex !important;
    }
  }

}
