// colors
$yellow: #E3E47D;
$bluePurple: #5849B6;
$purple: #870265;
$orange: #F2A62B;
$blue: #018DD7;
$transparent_purple: rgba(88, 73, 182, 0.8);
$transparent_darkPurple: rgba(135, 2, 101, 0.8);
$transparent_blue: rgba(1, 141, 215, 0.8);
$light_blue: #34a4df;

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Pen+Script');
$sans: 'Montserrat', sans-serif;
$cursive: 'Nanum Pen Script', cursive;
