@import '_base.scss';

div.login_form_div {
  background-color: $transparent_darkPurple;
  box-shadow: 5px 5px 50px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 80%;

  h1 {
    font-family: $cursive;
    color: $orange;
    font-size: 5rem;
    padding-top: 5rem;
  }

  form {
    margin-top: 1rem;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 1 0 100%;

        input {
          padding: 1rem;
          width: 80%;
          margin-top: 2rem;
          background-color: $yellow;
          border-style: none;
          border-radius: 10px;
          color: $purple;
          font-family: $cursive;
          font-size: 1.5rem;
        }

        input::placeholder {
          color: $purple;
          font-family: $cursive;
          font-size: 1.5rem;
        }
      }
      li.btn {
        order: 7;
        text-align: right;
        margin-top: 2rem;
        margin-right: 1rem;

        button {
          font-family: $sans;
          font-size: 1.5rem;
          margin-left: 1rem;
          padding: 0.5rem 1rem 0.5rem 1rem;
          border-radius: 10px;
          border-style: none;
        }

        button[type="reset"] {
          color: $yellow;
          background-color: $blue;
        }

        button[type="reset"]:hover {
          color: $orange;
        }

        button[type="submit"] {
          color: $yellow;
          background-color: $purple;
        }

        button[type="submit"]:hover {
          color: $purple;
          background-color: $orange;
        }
      }
    }
  }
}
