// @import "_base.scss";

div.mainRight {
  background-color: $purple;
  flex: 0 0 80%;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;

  h1 {
    // height: 20%;
    flex: 0 0 100%;
    text-align: center;
    font-family: $cursive;
    color: $orange;
    font-size: 5rem;
  }

  div.notes {
    flex: 0 0 100%;
    display: flex;
    align-content: center;
    text-align: center;


    div.individual_note {
      flex: 0 0 100%;
      display: inline-grid;
      grid-template-columns: repeat(4, 1fr);

      p.title {
        grid-column: 1 / 4;
        color: $bluePurple;
        background-color: $orange;
        font-family: $sans;
        height: 2rem;
      }
      p.category_list {
        grid-column: 4 / 5;
      }
      ul.cat_list {
        display: none;
      }
      div.note_content {
        grid-column: 1 / 5;
      }
    }
  }

  // div.notes {
  //   height: 80%;
  //   flex: 0 0 100%;
  //   flex-wrap: wrap;
  //   display: flex;
  //   justify-content: center;
  //   display: grid;
  //
  //   p.title {
  //     grid-column: 1 / 4;
  //     grid-row: 1;
  //     background-color: $orange;
  //     color: $bluePurple;
  //     font-family: $sans;
  //     font-size: 1.5rem;
  //     padding-top: 1rem;
  //   }
  //   p.category_list {
  //     grid-column: 4 / 5;
  //     background-color: $bluePurple;
  //     color: $orange;
  //     font-family: $sans;
  //     padding-top: 1rem;
  //   }
  //   ul.cat_list {
  //     display: none;
  //   }
  //   div.note_content {
  //     grid-column: 1 / 5;
  //     grid-row: 2 / 5;
  //     color: $bluePurple;
  //     background-color: $yellow;
  //     font-family: $cursive;
  //     overflow-y: auto;
  //   }
  // }
}
