@import "_base.scss";

div.mainRight {
  background-color: $purple;
  flex: 0 0 80%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  h1 {
    flex: 0 0 100%;
    align-self: flex-start;
    text-align: center;
    font-family: $cursive;
    color: $orange;
    font-size: 5rem;

  }

  div.note {
    flex: 0 0 100%;
    text-align: center;
    position: relative;

    input[name="title"] {
      color: $bluePurple;
      font-family: $sans;
      background-color: $orange;
      border-style: none;
      border: none;
      padding: 0;
      margin: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: -50%;
      width: 50%;
      font-size: 2rem;
    }

    textarea {
      color: $blue;
      background-color: $yellow;
      border-style: none;
      border: none;
      padding: 0;
      margin: 0;
      font-family: $cursive;
      width: 50%;
      font-size: 2rem;
      resize: none;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 4%;

    }

    input[name="category"] {
      position: absolute;
      top: 45%;
      left: 30%;
      height: 2rem;
      padding-bottom: 2rem;
      font-family: $cursive;
      color: $orange;
      background-color: $blue;
      width: 15%;
      border-style: none;
      font-size: 1.5rem;
    }
    input[name="category"]:placeholder {
      color: $orange !important;
    }

    button {
      position: absolute;
      right: 15rem;
      top: 60%;
      right: 30%;
      border-style: none;
      color: $purple;
      background-color: $orange;
      font-family: $sans;
      font-size: 2rem;
      border-radius: 10px;
    }

    button:hover {
      color: $orange;
      background-color: $blue;
    }
    @media screen and (max-width: 450px) {
      button {
        right: 3rem;
      }
    }


    @media screen and (max-width: 1000px) {
      input[name="title"] {
        width: 80%;
      }
      textarea {
        width: 80%;
      }
      input[name="category"] {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  div.mainRight {
    flex: 0 0 100%;
  }
}
