@import "_base.scss";

div.mainRight {
  background-color: $purple;
  flex: 0 0 80%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  h1 {
    flex: 0 0 100%;
    align-self: flex-start;
    text-align: center;
    font-family: $cursive;
    color: $orange;
    font-size: 5rem;

  }

  div.note {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem;

    form[id="note"] {
      flex: 0 0 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      div.title {
        grid-column: 2 / 6;
        grid-row: 1;

        input {
          background-color: $orange;
          font-family: $sans;
          color: $bluePurple;
          border-style: none;
          margin: none;
          padding: 1rem;
          font-size: 2rem;
          width: 100%;
          height: 100%;
          box-sizing: border-box;

        &::placeholder {
          color: $bluePurple;
          font-family: $sans;
        }
      }
    }

      div.content {
        grid-column: 2 / 6;
        grid-row: 2 / 5;

        textarea {
          background-color: $yellow;
          color: $blue;
          border-style: none;
          resize: none;
          font-family: $cursive;
          font-size: 1.5rem;
          padding: 1rem;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
        }
      }

      div.categories {
        grid-column: 3 / 4;
        grid-row: 4 / 6;

        textarea {
          background-color: $blue;
          color: $orange;
          border-style: none;
          resize: none;
          height: 100%;
          font-family: $cursive;
          box-sizing: border-box;
          padding: 1rem;
          font-size: 1.5rem;
          width: 100%;

          &:focus ~ p.tooltip {
            visibility: visible;
          }
        }

        p.tooltip {
          position: relative;
          bottom: 140%;
          background-color: $transparent_purple;
          padding: 1rem 2rem;
          border-radius: 10px;
          font-family: $sans;
          color: $orange;
          visibility: hidden;
          z-index: 100;
        }
      }

      @media screen and (max-width: 870px) {
        div.categories {
          grid-column: 2 / 6;
          grid-row: 5 / 6;
        }
      }


      input[type="submit"] {
        grid-column: 5 / 6;
        margin-top: 1rem;
        grid-row: 7;
        color: $purple;
        background-color: $orange;
        font-family: $sans;
        font-size: 1.5rem;
        border-style: none;
        border-radius: 10px;
        padding: 1rem 0.5rem;

        &:hover {
          color: $orange;
          background-color: $bluePurple;
        }
      }

      @media screen and (max-width: 450px) {
        div.title, div.content, div.categories {
          grid-column: 1 / 7;
        }
      }


    }
  }
}

@media screen and (max-width: 1020px) {
  div.mainRight {
    flex: 0 0 100%;
  }
}
