@import url("https://fonts.googleapis.com/css?family=Montserrat|Nanum+Pen+Script");
/* line 5, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/modules/_base.scss */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
}

/* line 10, ../sass/modules/_base.scss */
div.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.wrapper h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #F2A62B;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(135, 2, 101, 0.8);
}
/* line 17, ../sass/modules/_base.scss */
div.wrapper header.bg {
  height: 100%;
  width: 100%;
  background: url("../assets/home_img.jpg") 50% 50%;
  top: 0;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/* line 27, ../sass/modules/_base.scss */
div.wrapper header.no_bg {
  width: auto;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/modules/_base.scss */
div.wrapper nav {
  width: 100%;
  position: fixed;
  background-color: rgba(88, 73, 182, 0.8);
  z-index: 100;
  transition: all 0.5s ease;
}
/* line 41, ../sass/modules/_base.scss */
div.wrapper nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 48, ../sass/modules/_base.scss */
div.wrapper nav ul li {
  flex: 1 1 0;
}
/* line 51, ../sass/modules/_base.scss */
div.wrapper nav ul li a {
  text-decoration: none;
  color: #F2A62B;
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #F2A62B;
  padding: 1rem;
  font-size: 1.5rem;
}
/* line 62, ../sass/modules/_base.scss */
div.wrapper nav ul li a:hover {
  color: #E3E47D;
  background-color: rgba(1, 141, 215, 0.8);
}
@media screen and (max-width: 890px) {
  /* line 69, ../sass/modules/_base.scss */
  div.wrapper nav ul li {
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 455px) {
  /* line 76, ../sass/modules/_base.scss */
  div.wrapper nav ul li a {
    font-size: 1rem;
  }
}
/* line 84, ../sass/modules/_base.scss */
div.wrapper nav ul li a.active {
  color: #E3E47D;
  background-color: rgba(1, 141, 215, 0.8);
}
/* line 91, ../sass/modules/_base.scss */
div.wrapper nav ul li:last-child a {
  background-color: #870265;
  color: #018DD7;
}
/* line 95, ../sass/modules/_base.scss */
div.wrapper nav ul li:last-child a:hover {
  background-color: #018DD7;
  color: #F2A62B;
}
/* line 103, ../sass/modules/_base.scss */
div.wrapper nav.hidden {
  transform: translate3d(0, -100%, 0);
}
/* line 107, ../sass/modules/_base.scss */
div.wrapper footer.desktop {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #34a4df;
  text-align: center;
}
/* line 115, ../sass/modules/_base.scss */
div.wrapper footer.desktop div {
  flex-basis: 50%;
}
/* line 119, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f1 {
  order: 1;
}
/* line 122, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f1 p {
  font-family: "Montserrat", sans-serif;
  color: #F2A62B;
  padding: 1rem;
}
/* line 129, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f2 {
  order: 3;
}
/* line 133, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f2 a button {
  text-decoration: none;
  color: #018DD7;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: #F2A62B;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  border-style: none;
}
/* line 147, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f2 a button:hover {
  background-color: #870265;
  color: #F2A62B;
}
/* line 154, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f3 {
  order: 2;
}
/* line 157, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f3 p {
  font-family: "Montserrat", sans-serif;
  color: #E3E47D;
  padding: 1rem;
}
/* line 164, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f4 {
  order: 4;
}
/* line 167, ../sass/modules/_base.scss */
div.wrapper footer.desktop div.f4 p {
  font-family: "Montserrat", sans-serif;
  color: #E3E47D;
}
/* line 174, ../sass/modules/_base.scss */
div.wrapper footer.mobile {
  display: none !important;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #34a4df;
  text-align: center;
  align-items: center;
}
/* line 184, ../sass/modules/_base.scss */
div.wrapper footer.mobile div {
  flex: 0 0 50%;
}
/* line 190, ../sass/modules/_base.scss */
div.wrapper footer.mobile div.left a button {
  text-decoration: none;
  color: #018DD7;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: #F2A62B;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  border-style: none;
}
/* line 204, ../sass/modules/_base.scss */
div.wrapper footer.mobile div.left a button:hover {
  background-color: #870265;
  color: #F2A62B;
}
/* line 213, ../sass/modules/_base.scss */
div.wrapper footer.mobile div.right p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.5rem;
  color: #5849B6;
}
/* line 219, ../sass/modules/_base.scss */
div.wrapper footer.mobile div.right p.copyright {
  color: #E3E47D;
}
/* line 223, ../sass/modules/_base.scss */
div.wrapper footer.mobile div.right p.email {
  color: #F2A62B;
}
@media screen and (max-width: 600px) {
  /* line 229, ../sass/modules/_base.scss */
  div.wrapper footer.desktop {
    display: none;
  }
  /* line 232, ../sass/modules/_base.scss */
  div.wrapper footer.mobile {
    display: flex !important;
  }
}

/* line 3, ../sass/modules/_home.scss */
div.home_content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* line 11, ../sass/modules/_home.scss */
div.home_content h1 {
  font-family: "Nanum Pen Script", cursive;
  color: #870265;
  font-size: 5rem;
}
@media screen and (max-width: 817px) {
  /* line 18, ../sass/modules/_home.scss */
  div.home_content h1 {
    margin-top: 2rem;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 435px) {
  /* line 27, ../sass/modules/_home.scss */
  div.home_content h1 {
    width: 99%;
  }
}
/* line 34, ../sass/modules/_home.scss */
div.home_content a button {
  margin-top: 2rem;
  text-decoration: none;
  color: #018DD7;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-color: #F2A62B;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 15px;
  border-style: none;
}
/* line 49, ../sass/modules/_home.scss */
div.home_content a button:hover {
  background-color: #870265;
  color: #F2A62B;
}

/* line 3, ../sass/modules/_about.scss */
div.about_content {
  width: 100%;
  background-color: #018DD7;
  padding-left: 0;
  padding-right: 0;
  top: 0;
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
/* line 14, ../sass/modules/_about.scss */
div.about_content h1 {
  padding-top: 6rem;
  font-family: "Nanum Pen Script", cursive;
  color: #870265;
  font-size: 5rem;
  flex: 0 0 100%;
}
@media screen and (max-width: 890px) {
  /* line 23, ../sass/modules/_about.scss */
  div.about_content h1 {
    padding-top: 10rem;
  }
}
/* line 29, ../sass/modules/_about.scss */
div.about_content div {
  background-color: #E3E47D;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 1rem;
  flex: 0 0 80%;
}
/* line 37, ../sass/modules/_about.scss */
div.about_content div h2 {
  text-align: left;
  color: #018DD7;
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
}
/* line 45, ../sass/modules/_about.scss */
div.about_content div p {
  font-family: "Montserrat", sans-serif;
  color: #870265;
}
/* line 51, ../sass/modules/_about.scss */
div.about_content div.about2 {
  display: flex;
  flex-wrap: wrap;
}
/* line 55, ../sass/modules/_about.scss */
div.about_content div.about2 h2 {
  flex: 0 0 100%;
}
/* line 59, ../sass/modules/_about.scss */
div.about_content div.about2 div {
  text-align: left;
  flex: 0 0 50% !important;
  margin: 0;
  padding: 0;
}
/* line 66, ../sass/modules/_about.scss */
div.about_content div.about2 div ul {
  list-style: circle;
}
/* line 69, ../sass/modules/_about.scss */
div.about_content div.about2 div ul li {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #870265;
}

/* line 3, ../sass/modules/_signup.scss */
div.signup_form_div {
  background-color: rgba(88, 73, 182, 0.8);
  box-shadow: 5px 5px 50px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 80%;
}
/* line 14, ../sass/modules/_signup.scss */
div.signup_form_div h1 {
  color: #F2A62B;
  font-family: "Nanum Pen Script", cursive;
  font-size: 5rem;
  padding-top: 5rem;
}
/* line 21, ../sass/modules/_signup.scss */
div.signup_form_div form {
  margin-top: 1rem;
}
/* line 24, ../sass/modules/_signup.scss */
div.signup_form_div form ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 28, ../sass/modules/_signup.scss */
div.signup_form_div form ul li {
  flex: 1 0 50%;
}
/* line 31, ../sass/modules/_signup.scss */
div.signup_form_div form ul li input {
  padding: 1rem;
  width: 80%;
  margin-top: 2rem;
  background-color: #E3E47D;
  border-style: none;
  border-radius: 10px;
  color: #870265;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
}
/* line 43, ../sass/modules/_signup.scss */
div.signup_form_div form ul li input::placeholder {
  color: #870265;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
}
/* line 50, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.fname {
  order: 1;
}
/* line 54, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.uname {
  order: 2;
}
/* line 58, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.lname {
  order: 3;
}
/* line 62, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.pword {
  order: 4;
}
/* line 66, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.email {
  order: 5;
}
/* line 70, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.pword1 {
  order: 6;
}
/* line 74, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn {
  order: 7;
  text-align: right;
  margin-top: 2rem;
  margin-right: 1rem;
}

div.signup_form_div form ul li ul.errors li {
  font-family: "Montserrat", sans-serif;
  color: #F2A62B;
}

/* line 80, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  border-style: none;
}
/* line 89, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn button[type="reset"] {
  color: #E3E47D;
  background-color: #870265;
}
/* line 94, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn button[type="reset"]:hover {
  color: #F2A62B;
}
/* line 98, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn button[type="submit"] {
  color: #018DD7;
  background-color: #F2A62B;
}
/* line 103, ../sass/modules/_signup.scss */
div.signup_form_div form ul li.btn button[type="submit"]:hover {
  color: #870265;
  background-color: #018DD7;
}
@media screen and (max-width: 800px) {
  /* line 110, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li {
    flex: 0 0 100% !important;
  }
  /* line 113, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li input {
    padding: 0.5rem !important;
    width: 90% !important;
    margin-top: 1rem !important;
    border-radius: 5px !important;
    font-size: 1.2rem !important;
  }
  /* line 120, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li input::placeholder {
    font-size: 1.2rem !important;
  }
  /* line 124, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li.lname {
    order: 2 !important;
  }
  /* line 127, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li.email {
    order: 3 !important;
    margin-bottom: 2rem;
  }
  /* line 131, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li.uname {
    order: 4 !important;
  }
  /* line 134, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li.pword {
    order: 5 !important;
  }
  /* line 137, ../sass/modules/_signup.scss */
  div.signup_form_div form ul li.pword1 {
    order: 6 !important;
  }
}

/* line 3, ../sass/modules/_login.scss */
div.login_form_div {
  background-color: rgba(135, 2, 101, 0.8);
  box-shadow: 5px 5px 50px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 80%;
}
/* line 14, ../sass/modules/_login.scss */
div.login_form_div h1 {
  font-family: "Nanum Pen Script", cursive;
  color: #F2A62B;
  font-size: 5rem;
  padding-top: 5rem;
}
/* line 21, ../sass/modules/_login.scss */
div.login_form_div form {
  margin-top: 1rem;
}
/* line 24, ../sass/modules/_login.scss */
div.login_form_div form ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 28, ../sass/modules/_login.scss */
div.login_form_div form ul li {
  flex: 1 0 100%;
}
/* line 31, ../sass/modules/_login.scss */
div.login_form_div form ul li input {
  padding: 1rem;
  width: 80%;
  margin-top: 2rem;
  background-color: #E3E47D;
  border-style: none;
  border-radius: 10px;
  color: #870265;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
}
/* line 43, ../sass/modules/_login.scss */
div.login_form_div form ul li input::placeholder {
  color: #870265;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
}
/* line 49, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn {
  order: 7;
  text-align: right;
  margin-top: 2rem;
  margin-right: 1rem;
}
/* line 55, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  border-style: none;
}

div.login_form_div form ul li ul.errors li {
  font-family: "Montserrat", sans-serif;
  color: #F2A62B;
}

/* line 64, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn button[type="reset"] {
  color: #E3E47D;
  background-color: #018DD7;
}
/* line 69, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn button[type="reset"]:hover {
  color: #F2A62B;
}
/* line 73, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn button[type="submit"] {
  color: #E3E47D;
  background-color: #870265;
}
/* line 78, ../sass/modules/_login.scss */
div.login_form_div form ul li.btn button[type="submit"]:hover {
  color: #870265;
  background-color: #F2A62B;
}
